/* Basic styling for your portfolio */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
}

section {
    padding: 20px 0;
    margin: 20px 0;
}

section h2 {
    font-size: 2em;
    color: #333;
}

section h3 {
    font-size: 1.5em;
    color: #555;
}

section p, section ul {
    font-size: 1.1em;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    margin: 10px 0;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    font-size: 1em;
}

.awards {
    background-color: #fff;
    padding: 20px 0;
    margin: 20px 0;
}

.award {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.award img {
    width: 80px; /* Adjust the width as needed */
    height: auto;
    margin-right: 20px;
    border-radius: 8px; /* Optional, to round the corners of the image */
}

.award p {
    font-size: 1.1em;
}
